body {
    display: grid;
    max-width: 100%;
    justify-content: left;
    align-self: left;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .wrapper {
    display: flex;
    margin: 5%;
    font-style: 'Helvetica' 'sans-serif'
  }
  
  h1 {
      color: rgb(78, 147, 78);
  }
  h3 {
      color:rgb(22, 57, 11);
  }